<h1 class="display-1 animated fast fadeIn text-center">
  Heroes <br> <small>Marvel y DC</small>
</h1>
<hr>
<div class="card-columns mt-5" *ngIf="heroes.length>0">
  <div class="card animated fadeIn " *ngFor="let heroe of heroes; let i=index ">
    <img class="card-img-top img-fluid" [src]="heroe.img" [alt]="heroe.nombre">
    <div class="card-block">
      <h4 class="card-title">{{ heroe.nombre }}</h4>
      <p class="card-text">{{ heroe.bio }}</p>
      <p class="card-text"><small class="text-muted">{{ heroe.aparicion }}</small></p>
    <button (click)="verHeroe(heroe.nombre)" class="btn btn-outline-primary btn-block pointerSelect">Ver mas...</button>
    </div>
  </div>
</div>
<div class="container animated fadeIn" *ngIf="heroes.length<=0">
  <p class="card card-inverse card-warning mb-3 text-center text-uppercase">No se han encontrado resultados</p>
</div>
